@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");
@import "tailwindcss";

:root {
    --main-font: "Roboto", sans-serif;
}

body {
    font-family: var(--main-font);
}
:root,
:host {
    --md-sys-color-background: #121318;
    --md-sys-color-on-background: #e2e2e8;
    --md-sys-color-surface: #121318;
    --md-sys-color-surface-dim: #121318;
    --md-sys-color-surface-bright: #38393e;
    --md-sys-color-surface-container-lowest: #0c0e12;
    --md-sys-color-surface-container-low: #1a1b20;
    --md-sys-color-surface-container: #1e1f24;
    --md-sys-color-surface-container-high: #282a2f;
    --md-sys-color-surface-container-highest: #333539;
    --md-sys-color-on-surface: #e2e2e8;
    --md-sys-color-surface-variant: #434750;
    --md-sys-color-on-surface-variant: #c3c6d2;
    --md-sys-color-inverse-surface: #e2e2e8;
    --md-sys-color-inverse-on-surface: #2f3035;
    --md-sys-color-outline: #8d909b;
    --md-sys-color-outline-variant: #434750;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #adc6ff;
    --md-sys-color-primary: #cad9ff;
    --md-sys-color-on-primary: #002e69;
    --md-sys-color-primary-container: #8db0f8;
    --md-sys-color-on-primary-container: #002353;
    --md-sys-color-inverse-primary: #385da0;
    --md-sys-color-secondary: #bac6e6;
    --md-sys-color-on-secondary: #24304a;
    --md-sys-color-secondary-container: #333f59;
    --md-sys-color-on-secondary-container: #c7d4f5;
    --md-sys-color-tertiary: #ffc8ff;
    --md-sys-color-on-tertiary: #4e1955;
    --md-sys-color-tertiary-container: #dc9adf;
    --md-sys-color-on-tertiary-container: #410c49;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6;
}

html,
body {
    height: 100%; /* prevent page scroll */
}

/* Material-style custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: var(--md-sys-color-background);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--md-sys-color-primary);
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--md-sys-color-primary-container);
}
